# Binaries
terraform-provider-airtelcloud
bin/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.log
terraform-debug.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Coverage
coverage.out
coverage.html
# GoReleaser
dist/

#script
scripts/tf-local-dev.sh


