# Binaries
terraform-provider-airtelcloud
bin/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Coverage
coverage.out
coverage.html
# GoReleaser
dist/
